<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.maxieds.chameleonminilivedebugger"
    android:installLocation="preferExternal" >

    <uses-sdk android:minSdkVersion="26" />
    <protected-broadcast android:name="android.hardware.usb.action.USB_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.USB_PERMISSION" tools:remove="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.usb.host" android:required="true" />
    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />

    <application
        android:theme="${appTheme}"
        android:description="@string/app_desc"
        android:icon="${appIcon}"
        android:label="@string/app_display_short_name"
        android:roundIcon="${appRoundIcon}"
        android:launchMode="singleTop"
        android:noHistory="false"
        android:excludeFromRecents="true"
        android:testOnly="${appDebug}"
        android:hardwareAccelerated="true"
        android:manageSpaceActivity=".LiveLoggerActivity"
        android:defaultToDeviceProtectedStorage="true"
        android:usesCleartextTraffic="false"
        android:installLocation="${installLocation}"
        tools:replace="android:icon"
        tools:node="replace"
        >

        <uses-library android:name="com.android.future.usb.accessory" />

        <activity android:name=".LiveLoggerActivity"
            android:screenOrientation="fullSensor"
            android:alwaysRetainTaskState="true"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true">

            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" android:resource="@xml/usb_device_filter"/>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" android:resource="@xml/usb_device_filter"/>

            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.IOT_LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

    </application>

</manifest>