<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maxieds.chameleonminilivedebugger">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature android:name="android.hardware.usb.host" android:required="true"/>

    <application
        android:theme="${appTheme}"
        android:description="@string/app_desc"
        android:icon="${appIcon}"
        android:label="@string/app_name"
        android:roundIcon="${appIcon}"
        android:launchMode="singleTask"
        android:noHistory="true"
        android:excludeFromRecents="true"
        android:testOnly="${appDebug}"
        android:hardwareAccelerated="true"
        android:manageSpaceActivity=".LiveLoggerActivity"
        android:defaultToDeviceProtectedStorage="true"
        android:usesCleartextTraffic="true"
        android:installLocation="${installLocation}">

        <activity android:name=".LiveLoggerActivity"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true">

            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" android:resource="@xml/usb_device_filter"/>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" android:resource="@xml/usb_device_filter"/>


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.IOT_LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>